{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/gridstyle.css' %}" />
</head>
<body>
    <header>
        <div class="container_12x1">
            <!-- <div class="box a">A</div>
            <div class="box b">B</div>
            <div class="box c">C</div>
            <div class="box d">D</div>
            <div class="box e">E</div>
            <div class="box f">A</div> -->
            <a href="#" class="logo">CompanyLogo</a>
            <a class="active" href="#">Home</a>
            <a class="contact" href="#">Contact</a>
            <a class="about" href="#">About</a>
        </div>
    </header>
    <div class="main">
        main-site
    </div>
    <div class="used">Most used sites</div>
    <div class="municipality">Municipalities</div>
    <footer>
        <div class="container_12x1">
            Footer
        </div>
    </footer>

</body>
</html>
