a {
    font: 16pt/24pt Arial, serif;
}

a:link {
    color: #31495B
}

a:visited {
    color: #31495B
}

a:hover {
    color: #83929D;
}

p {
    font: 16pt/24pt Arial, serif;
    color: #31495B
}

h1 {
    font: bold 24pt/30pt Arial, serif;
}

h2 {
    font: bold 16pt/24pt Arial, serif;
}

body {
    background-color: #EAECEE;
    font: 16pt/24pt Arial, serif;
}
